.kanit-logo-font {
  font-family: 'Kanit', sans-serif !important;
  /* You can also add styles for the smaller text here */
}

.kanit-extrabold {
  font-family: 'Kanit', sans-serif !important;
  font-weight: 800 !important; /* ExtraBold */ /* <-- NEW: Set the font size to 48px */
  line-height: 1.2; /* Adjust line-height to keep it clean */
}

.kanit-bold {
  font-family: 'Kanit', sans-serif !important;
  font-weight: 700 !important; /* ExtraBold */ /* <-- NEW: Set the font size to 48px */
  line-height: 1.2; /* Adjust line-height to keep it clean */
}

/* Class for the Kanit subtitle (if you want regular weight) */
.kanit-regular {
  font-family: 'Kanit', sans-serif !important;
  font-weight: 300 !important;
}

.btn-peach {
  background-color: #DCAB83;
  color: #000;
  font-weight: bold;
  border: none;
}

.btn-peach:hover {
  background-color: #c99a74; /* Slightly darker on hover */
}

.ms-6 {
  margin-left: 4rem;
}


.fs-28 {
  font-size: 28px !important;
}

.active-nav::after {
  content: '';
  position: absolute;
  bottom: -1px;
  width: 50%;
  height: 6px;
  background-color: #DCAB83; /* Orange underline */
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  z-index: 0;
}

.theme-dark {
  background-color: #2a2727;
  color: #ffffff;
  
}

.theme-light {
  background-color: #E5EAF0;
  color: #000000;
}

.theme-dark * {
  color: #ffffff !important;
}


.page-wrapper {
  min-height: 100vh;
  padding: 24px;
}

